pandas
numpy
scipy
matplotlib
ipywidgets
spacy
torch
torchvision
torchaudio
tqdm
nltk
seaborn
scikit-learn
gensim
dill
tensorboard
torchtext
portalocker
polars
requests
sentence-transformers
en-core-web-sm @ https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl